
<h1>Delete Product Page</h1>
<br>
<br>
<form action='/delete-product' method='post'>
	<p>
		<label for='id'>Enter product ID to delete</label>
		<input type='text' name='id'/>
	</p>
	<button>DELETE</button>
</form>