
<head>
<title>Welcome to The Ruby Store</title>
<link href="storecss.css" rel="stylesheet">
</head>



<body>

<h1>The Ruby Store</h1>

<a href="/users">Users</a>
<br>
<a href="/products">Products</a>
<br>
<a href="/products/manage">Manage</a>




</body>