<!doctype html>


<html>

<head>
	<title>The Ruby Store</title>
	
	<link href="storecss.css" rel="stylesheet">
<head>



<body>  

<div class="container text">
<%= yield %>
</div>
<br>
<img src="ruby_icon.jpg" alt="Ruby Icon">
<br>
	<div class="text">
		<a href="/users">Users</a>
		<br>
		<a href="/products">Products</a>
		<br>
		<a href="/">Home</a>
		<br>
		<a href="/products/manage">Manage</a>
	</div>
</body>


</html>
