<head>
	<title>The Ruby Store</title>
	
	<link href="storecss.css" rel="stylesheet">
<head>



<h1> New Products</h1>



<form action='/products' method='post'>
	<p>
	<label for='product_name'>Product Name</label>
	<input type='text' name='product_name'/>
	</p>
	<p>
	<label for='product_price'>Product Price</label>
	<input type='text' name='product_price'/>
	</p>
	<input type="checkbox" name="on_sale" value"t"/>On Sale
	<br>
	<button>SAVE</button>
</form>
<br>
<br>
