.text {
	font-size: 15px;
	font-color: gray;
}
img {
	width: 5%;
	height: 5%
}
a { 
	color: blue;
	}
a:link {
	color: red;
	text-indent: 20px;
}
a:hover {
	color: orange;
}
a:active {
	color: darkcyan;
}

table {
	border-spacing: 0px;
}
th, td {
	padding: 5px 30px 5px 10px;
	border-spacing: 20px;
	font-size: 90%;
	margin: 10px;
}
th, td {
	text-align: left;
	border-top: 1px solid #f1f8fe;
	border-bottom: 1px solid #cbd2d8;
	border-right: 1px solid #cbd2d8;
}
tr:nth-child(even) {
	background-color: #E0FFFF;
}


tr:nth-child(odd) {
   background-color: #AFEEEE;
}
tr.head th {
	color: #ffffff;
	background-color: #90b4d6;
	border-bottom: 2px solid #547ca0;
	border-right: 1px solid #749abe;
	border-top: 1px solid #90b4d6;
	text-align: center;
	text-shadow: -1px -1px 1px #666666;
	letter-spacing: 0.15em;
}
td {
	text-shadow: 1px 1px 1px #ffffff;
}
tr.even td.tr.even th {
	background-color: #e8eff5;
}
tr.head th:first-child {
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
tr.head th:last-child {
	-webkit-border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
